.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
  }
  
  .modal-container {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    overflow-y: auto; /* Ensures scrolling when content overflows */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scrollbar-width: none; /* For Firefox */
  }
  
  .modal-container::-webkit-scrollbar {
    display: none; /* Hides the scrollbar for WebKit browsers */
  }
  
  .modal-header {
    text-align: center;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-input,
  .modal-textarea,
  .modal-select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-family: Arial;
  }
  
  .modal-input,
  .modal-textarea,
  .modal-select,
  .modal-image-container {
    margin-bottom: 20px; /* Added margin between input boxes */
  }
  
  .modal-button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-button-submit {
    background-color: green;
    color: white;
  }
  
  .modal-button-cancel {
    background-color: red;
    color: white;
  }
  
  .modal-image-container {
    text-align: center;
  }
  
  .modal-image {
    max-width: 50%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
  }
  